@import url("https://fonts.googleapis.com/css?family=Lora");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Lucida Grande", serif;
}
h1,
h2 {
  font-family: "Lora", serif;
}
h1 {
  margin-top: 0;
  font-size: 42px;
  color: #414141;
}
h2 {
  font-family: "Lucida Grande", serif;
  font-weight: bold;
}
p {
  margin: 0px;
  font-size: 16px;
  line-height: 12px;
}
header {
  border-bottom: 1px solid #d8d6d6;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
nav.reverse {
  justify-content: flex-end;
}
nav p {
  color: #777777;
  font-size: 13px;
  padding-bottom: 1px;
}
p.activeMenuItem {
  font-weight: bold;
}
.app {
  margin-top: 0;
}
.menuContainer {
  width: 1025px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-top: 0;
  overflow: hidden;
}
.menuContainer p {
  vertical-align: middle;
}
img.menuArrows {
  display: none;
  height: 13px;
  margin-right: 10px;
  opacity: 0.2;
}
img.menuArrows.blackArrow {
  opacity: 1;
}
.content {
  width: 1025px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 25px;
}
.topArticle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d6d6;
}
.topArticle p {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
}
.topInfoContainer {
  width: 50%;
}
.topImageContainer {
  width: 344px;
}
.topImageContainer img {
  width: 100%;
}
.topArticle input {
  margin-top: 40px;
  margin-bottom: 40px;
}
.button {
  color: white;
  border-radius: 5px;
  border: 1px solid #000;
  width: 95px;
  height: 35px;
}
.button.green {
  background: #00a87c;
  border: 1px solid #00a87c;
  min-width: 95px;
}
.button.black {
  background: #000;
  margin-right: 10px;
}
.button.white {
  background: #fff;
  color: black;
}
.articleSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2%;
}
.article {
  display: flex;
  width: 49%;
  margin-bottom: 2%;
  border: 1px solid #b8b8b8;
}
.imageContainer {
  width: 200px;
  height: 255px;
}
.imageContainer img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  min-width: 200px;
}
.infoContainer {
  margin: 0px;
  padding: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.articleInfo h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.articleInfo p {
color: #777777;
font-size: 13px;
line-height: 17px;
}
.articleAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articleAuthor img {
  height: 50px;
  border-radius: 25px;
}
img.bookmark {
  height: auto;
  border-radius: 0px;
}
.articleAuthor p {
  color: #777777;
  font-size: 13px;
  line-height: 17px;
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}
.authorName {
  color: #000;
}
.readingTime {
  padding-left: 10px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1050px) {
  body {
  padding: 0 20px;
  }
  h1 {
    font-size: 28px;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 870px;
    margin-right: 20px;
    overflow: hidden;
  }
  nav p {
    padding-right: 20px;
    white-space: nowrap;
  }
  img.menuArrows {
    display: inline;
  }
  .menuContainer {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .topArticle input {
    margin-top: 20px;
  }
  .topInfoContainer {
    width: 100%;
  }
  .topImageContainer {
    display: none;
  }
  .article {
    width: 100%;
    flex-direction: column;
    margin-top: 1%;
  }
  .imageContainer {
    width: 100%;
    height: 170px;
  }
  .imageContainer img {
    object-fit: cover;
    height: 100%;
  }
  .articleInfo h3 {
    font-size: 16px;
  }
  .articleAuthor {
    margin-top: 14px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    padding: 0 20px;
  }
  h1 {
    font-size: 28px;
  }
  nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 870px;
    margin-right: 20px;
    overflow: hidden;
  }
  nav p {
    padding-right: 20px;
    white-space: nowrap;
  }
  .menuContainer {
    width: 100%;
  }
  img.menuArrows {
    display: inline;
  }
  .content {
    padding-top: 20px;
    width: 100%;
  }
  .topArticle input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .topInfoContainer {
    width: 100%;
  }
  .topImageContainer {
    display: none;
  }
  .article {
    width: 100%;
    flex-direction: column;
    margin-top: 1%;
  }
  .imageContainer {
    width: 100%;
    height: 170px;
  }
  .imageContainer img {
    object-fit: cover;
    height: 100%;
  }
  .articleInfo h3 {
    font-size: 16px;
  }
  .articleAuthor {
    margin-top: 5px;
  }
}
